# .NET / Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# App Config
appsettings.Development.json
secrets.json
*.pfx
*.db

# Frontend (React, Angular, etc.)
node_modules/
dist/
build/
.env
.vite/
.angular/

# Logs / Misc
*.log
*.tmp
*.swp
